.col-right{
    letter-spacing: 0.015em;
}

.col-right .main-header{
    margin-bottom: 20px;
    color: #3f4257;
}

.col-right .sec-EA, 
.col-right .sec-OS,
.col-right .sec-PC,
.col-right .sec-TS {
    padding: 5px 3%;
}

/* Header */
.col-right .div-header {
    position: relative;
    top: 0;
    width: 100%;
    height: 74px;
    background-color: #c6f1e7;
    text-align: center;
}

.col-right .div-header img {
    height: 100%;
}

/* Seperator Line */
.div-ASL {
    position: relative;
    display: flex;
    height: 30px;
    margin: 20px 0 30px 0;
}

.div-ASL .line {
    width: 94%;
    height: 2px;
    margin-top: 21px;
    margin-left: 3%;
    position: absolute;
    background-color: #c6f1e7;
    z-index: 0;
}

.div-ASL .txt {
    position: relative;
    margin: auto;
    padding: 7px 9px;
    background-color: rgb(254, 254, 254);
    color: #3f4257;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.01em;
    z-index: 1;
}

/* EA - Entrepreneur Advice */
.sec-EA {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sec-EA .div-entrepreneur {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0 20px 0;
}

.div-entrepreneur p {
    margin: 2% 4%;
    line-height: 1.45em;
    font-size: 20px;
    color: #525f7f;
    font-family: Courier New;
}


/* Our Store */
.sec-OS{
    margin: 30px 0;
}

.sec-OS p{
    padding: 0 3%;
    line-height: 1.45em;
    text-align: center;
    font-size: 20px;
    color: #525f7f;
}

.sec-OS div{
    width: 40%;
    height: 2px;
    background-color: rgba(44, 44, 44, 0.7);
    margin: 20px auto;
}


/* PC - People's Challange */
.sec-PC img{
    margin: 20px 0;
    border-radius: 10px;
}

.sec-PC .hacker-news,
.sec-PC .medium{
    display: flex;
    margin-left: auto;
}


/* TS - The Solution */
.sec-TS h1{
    margin-top: 15px;
    text-align: center;
    color: #3f4257;
}

.sec-TS p{
    padding: 15px 0;
    text-align: center;
    line-height: 1.45em;
    font-size: 20px;
    color: #525f7f;
}

.sec-TS .str{
    color: #3f4257;
    font-weight: 600;
}

.sec-TS h3{
    margin-top: 10px;
    text-align: center;
    color: #3f4257;
}

.sec-TS .arrow{
    display: flex;
    margin: 20px auto;
}

.sec-TS .h3-pp,
.sec-TS .h3-e{
    font-weight: 600;
}

.sec-TS .ul-pp,
.sec-TS .ul-e{
    list-style: none;
    width: 80%;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

.ul-pp li,
.ul-e li{
    display: flex;
    line-height: 1.45em;
    font-size: 22px;
    color: #525f7f;
}

.ul-pp li i,
.ul-e li i{
    font-size: 27px;
    color: #3f4257; 
    color: rgb(103, 122, 138);
}

.ul-pp .li-1 i{
    padding-left: 5px;
}

.ul-pp .li-3 i{
    padding-left: 3px;
}

.ul-pp .li-1 div{
    padding-left: 11px;
    padding-bottom: 12px;
    line-height: 1em;
}

.ul-pp .li-2 div{
    padding-left: 3px;
    padding-bottom: 9px;
    line-height: 1.3em;
}

.ul-pp .li-3 div{
    padding-left: 9px;
    padding-bottom: 7px;
    line-height: 1.3em;
}

.ul-e .li-2 i{
    padding-left: 5px;
}

.ul-e .li-3 i{
    padding-left: 3px;
}

.ul-e .li-1 div{
    padding-left: 6px;
    padding-bottom: 10px;
    line-height: 1.3em;
}

.ul-e .li-2 div{
    padding-left: 5px;
    padding-bottom: 9px;
    line-height: 1.3em;
}

.ul-e .li-3 div{
    padding-left: 7px;
    padding-bottom: 7px;
    line-height: 1.2em;
}

.sec-TS .div-lottie{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7% 0 3% 0;
}

.div-lottie h2{
    width: 60%;
    margin-top: 20px;
    text-align: center;
    color: #3f4257;
    text-shadow: rgba(23, 32, 38, 0.2) 0px 2px 10px, rgba(23, 32, 38, 0.2) 0px 2px 4px;
}

.div-lottie p{
    width: 60%;
    text-align: center;
    color: rgb(101, 119, 134);
}

.div-lottie span{
    color: #007bff;
    transition: all 0.15s ease-in-out;
}

.div-lottie span:hover{
    cursor: pointer;
    color: rgb(67, 93, 114);
}


/* Page Resize */
@media (max-width: 1199px){
  
}
  
@media (max-width: 999px){
    .sec-EA .PG{
        flex-direction: column;
    }
    .sec-EA .KS{
        flex-direction: column-reverse;
        margin-bottom: 10px;
    }
    .div-entrepreneur img{
        margin-bottom: 10px;
    }

    .div-ASL{
        margin-bottom: 20px;
    }

    .sec-PC .hacker-news{
        display: none;
    }

    .sec-TS .ul-pp, 
    .sec-TS .ul-e{
        width: 90%;
    }
    .ul-pp .li-1 div{
        line-height: 1.3em;
    }
    .ul-pp li i, 
    .ul-e li i{
        font-size: 30px;
    }
    .ul-pp .li-1 i{
        padding-top: 5px;
        padding-left: 7px;
    }
    .ul-pp .li-2 i{
        padding-top: 3px;
    }
    .ul-e .li-1 i{
        padding-top: 3px;
    }
    .ul-e .li-2 div{
        line-height: 1.5em;
    }

    .div-lottie p{
        width: 80%;
    }
}
  
@media (max-width: 680px){
     
}


@media only screen and (max-device-width: 600px) {
    .col-right.about{
        overflow-x: hidden;
    }
    .about .main-header.about{
        display: none;
    }
    .div-entrepreneur p{
        margin: 2%;
        text-align: center;
    }
    .sec-PC .quora{
        height: 145px;
    }
    .sec-PC .medium{
        height: 260px;
    }
    .sec-PC .reddit{
        height: 150px; 
    }

    .sec-TS .ul-pp, 
    .sec-TS .ul-e{
        width: 96%;
    }
    .ul-pp li i, 
    .ul-e li i{
        color: rgb(103, 122, 138);
    }
    .ul-pp .li-1 div,
    .ul-pp .li-2 div,
    .ul-pp .li-3 div{
        line-height: 1.4em;
    }
    .ul-pp .li-1 i,
    .ul-pp .li-3 i,
    .ul-e .li-2 i{
        padding-top: 7px;
    }
    .ul-pp .li-2 i{
        padding-top: 5px;
    }
    .ul-e .li-3 i{
        padding-top: 4px;
    }

}