.comp-profile{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth ;
}

.comp-profile .div-posts{
    position: relative;
    padding-top: 20px;
}

.comp-profile .posts-edit-btn{
    position: absolute;
    right: 25px;
    top: 0px;
}

.line-seperator{
    margin-top: 0px !important;
}

.comp-profile .end-message{
    text-align: center;
    padding: 10px 0 15px 0;
    color: #414774;
    font-size: 17px;
}


/* Solution-Problem switch */
.SP-switch{
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.SP-switch .line{
    position: absolute;
    top: 13px;
    width: 100%;
    height: 1px;
    background-color: rgba(180, 180, 180,0.4);
    z-index: 1;
}

.SP-switch .btns{
    background-color: rgb(254,254,254);
    z-index: 8;
    padding: 0px 10px;
}

.SP-switch .selected,
.SP-switch .not-selected{
    border: none;
    outline: none;
    background-color: transparent;
    width: 145px;
    height: 30px; 
    font-size: 15px;
    transition: all 0.015s ease-in-out;
}

.SP-switch .selected{
    color: #101116e8;
    border-radius: 3px;
    background-color: rgb(250,250,250);
    border: 1px solid #9da2c265;
}

.selected.left{
    border-bottom-right-radius: 0px;
}

.selected.right{
    border-bottom-left-radius: 0px;
}

.SP-switch .not-selected{
    color: #3f425765;
    border-bottom: 1px solid #9da2c265;
}

#mp-problem .noSolution{
    margin-top: 10px;
    padding-bottom: 30px;
}


/* Page Resize */
@media (max-width: 1199px){
  
}
  
@media (max-width: 999px){
    .container-notif{
        width: 90%;
    }
    .col-sm-3{
        flex: 0 0 25%;
        max-width: 100%;
        margin: 10px auto 20px auto;
    }
    .col-sm-9{
        max-width: 100%;
        margin: 10px auto;
    }
    .comp-profile .posts-edit-btn{
        right: 10px;
        top: -3px;
    }
    .comp-profile .div-posts{
        padding-top: 25px;
    }
    .btn-remove-post{
        top: -12px;
        right: -9px;
    }
}
  
@media (max-width: 680px){

}


/* iPad in landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape){ 
    .comp-profile .posts-edit-btn{
        right: 4px;
    }
}


/* iPad in portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait){ 
    .comp-profile .posts-edit-btn{
        right: 4px;
    }
}


@media only screen and (max-device-width: 600px) {
    .comp-profile .div-posts{
        padding-top: 35px;
    }
    .comp-profile .posts-edit-btn{
        right: 4px;
        top: 8px;
    }
    .main-header.profile{
        display: none !important;
    }
}
