.main-comp{
    overflow-y: auto;
}

.main-comp .div-1{
    width: 100%;
    scroll-behavior: smooth ;
}

.comp-profile .div-posts{
    position: relative;
    padding-top: 20px;
}

.comp-profile .posts-edit-btn{
    position: absolute;
    right: 25px;
    top: 0px;
}

.line-seperator{
    margin-top: 0px !important;
}