.comp-profile{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth ;
}

.comp-profile .div-posts{
    position: relative;
    padding-top: 20px;
}

.comp-profile .posts-edit-btn{
    position: absolute;
    right: 25px;
    top: 0px;
}

.line-seperator{
    margin-top: 0px !important;
}

.comp-profile .end-message{
    text-align: center;
    padding: 10px 0 15px 0;
    color: #414774;
    font-size: 17px;
}


/* Page Resize */
@media (max-width: 1199px){
  
}
  
@media (max-width: 999px){
    .container-notif{
        width: 90%;
    }
    .col-sm-3{
        flex: 0 0 25%;
        max-width: 100%;
        margin: 10px auto 20px auto;
    }
    .col-sm-9{
        max-width: 100%;
        margin: 10px auto;
    }
    .comp-profile .posts-edit-btn{
        right: 10px;
        top: -3px;
    }
    .comp-profile .div-posts{
        padding-top: 25px;
    }
    .btn-remove-post{
        top: -12px;
        right: -9px;
    }
}
  
@media (max-width: 680px){
    /* .container-notif{
        width: 98%;
    } */
}
