.CP{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 38px;
    font-weight: 600;
    letter-spacing: 1px;
}

.CP.edit-true{
    color: #959595;
}

.CP.edit-false{
    color: rgb(0,0,0);
}

.CP.edit-false:hover{
    cursor: pointer;
    background-color: rgb(240,240,240);
    border-radius: 15px;
    transition: background-color .15s ease-in-out;
}

.CP i{
    margin-right: 5px;
}

.CP-body{
    padding-top: 10px;
}

.CP-body .user-input{
    margin-bottom: 25px;
}

.CP-body .submit-btn{
    outline: none !important;
    height: 40px;
    width: 85px;
    border: none;
    margin-bottom: 25px;;
    border-radius: 12px;
    background-color: rgb(198 , 241, 231);
    color: rgb(100,100,100);
    font-weight: 600;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.CP-body .submit-btn:hover{
    background-color: rgb(126, 218, 196);
    color: rgb(30,30,30);
}