.header-btn-div{
    display: flex;
    width: 100%;
    justify-content: center;
}

.header-btn-div button{
    padding: 2px 9px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: rgb(180,180,180);
    border-radius: 4px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,font-size .15s ease-in-out, padding .15s ease-in-out;
}

.header-btn-div button:hover{
    background-color: rgb(246, 246, 246);
}

.header-btn-div button:focus {
    outline:0;
}

.header-btn-div .selected{
    font-size: 20px;
    padding: 2px 7px;
    color: rgb(0,0,0);
}

.header-btn-div span{
    font-size: 25px;
    margin: 0 7px;
}

.sign-comp-div{
    width: 100%;
}