.view-port{
    background-color: rgb(253,253,253);
    padding: 0;
}

.header-cont{
    height: 100vh;
    border-right: 1px solid rgb(180,180,180);
    padding-right: 0;
}

.main-cont{
    height: 100vh;
    padding: 0;
}