.view-port{
    background-color: rgb(255,255,255);
    padding: 0;
}

.header-cont{
    height: 100vh;
    border-right: 1px solid rgb(180,180,180);
    padding-right: 0;
}

.main-cont{
    height: 100vh;
    padding: 0;
}

.problems-div{
    width: 620px;
}

.wr-feed-seperator{
    height: 1px;
    margin: 20px 0;
    background-color: rgb(180, 180, 180);
}