.main-post .main-header{
    margin-bottom: 20px;
    color: #3f4257;
}


@media only screen and (max-device-width: 600px) {
    .main-post .main-header{
        margin-bottom: 0px;
    }
    .main-post .div-explation{
        width: 80%;
    }
    .main-post .suggested,
    .main-post .div-sub-explation{
        width: 94%;
    }
}