.hide{
    display: none;
}

.user-info-container{
    padding: 0 25px 15px 25px;
}

.user-info-container .user-prof-pic{
    height: 120px;
    width: auto;
    background-color: #f5f3f4;
    border-radius: 60px;
}

.user-info-container .img-col{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info-container .text-field{
    width: 200px;
}

.user-info-container .text-field,
.user-info-container .autocomplete{
    margin-bottom: 10px;
}

.input-btn-section{
    position: relative;
    padding-left: 20px;
}

.input-section{
    display: flex;
    flex-direction: column;
    padding: 35px 0 70px 0;
}

.user-points{
    position: relative;
    top: 20px;
}

.btn-user-prof{
    outline: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 75px;
    border: none;
    border-radius: 6px;
    background-color: rgb(198 , 241, 231);
    color: rgb(100,100,100);
    font-size: 16px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.btn-user-prof:hover{
    background-color: rgb(126, 218, 196);
    color: rgb(30,30,30);
}

.info-edit-btn{
    position: absolute;
    right: 0;
}

.btn-info-update{
    position: absolute;
    bottom: 0;
    margin: 20px 0;
    width: calc(100% - 20px);
}

.user-input{
    position: relative;
    height: 38px;
    width: 250px;
    margin-bottom: 12px;
}

.user-input input:disabled{
    background-color: #e9ecef;
    opacity: 1;
}

.user-input label{
    position: absolute;
    bottom: 29px;
    color: #959595;
    float: left;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
}

.user-input.lname{
    margin-left: 5px;
}

.user-input.email{
    top: 20px;
}

.user-names-div{
    display: flex;
}

.user-names-div .last-name{
    margin-left: 20px;
}

.loadding-user-info{
    position: absolute;
    bottom: -10px;
    left: 40%;
}

.info-col .dropdown-item{
    padding-left: 0.75rem;
}


@media only screen and (max-device-width: 600px) {
    .user-info-container .col-sm-3{
        margin: 10px auto 10px auto;
    }
    .input-btn-section .input-section{
        padding: 50px 0 70px 0;
    }
}