/*wh - web-header*/

.header-logo{
    width: 100px;
}

.guest-user-ul, 
.user-ul{
    list-style: none;
    margin-top: 50px;
    padding-left: 20px;
    font-size: 19px;
    font-weight: 700;
    color: rgb(100,100,100);
}

.wh-li{
    padding: 2px 0;
    letter-spacing: 0.03em;
}

.wh-li:hover{
    cursor: pointer;
}

.wh-li-a, 
.wh-li-div{
    display: block; 
    width: 100%; 
    height: 100%;
}

.wh-li-a{
    outline: none;
    color: rgb(100,100,100);
}

.wh-li-a:hover{
    border: none;
    outline: none;
    text-decoration: none;
    color: inherit;
}

.wh-li-a-div, 
.wh-li-div-span{
    display: inline-block;
    padding: 10px 20px;
}

.wh-li:hover > .wh-li-div .wh-li-div-span, 
.wh-li:hover > .wh-li-a .wh-li-a-div{
    border-radius: 15px;
    background-color: rgba(198, 241, 231, 0.6);
    color: #212529;
    font-weight: bold;
    transition: background-color, color, font-weight .3s;
}

.wh-li-div-span-div,
.wh-li-a-div-div{
    display: flex;
    align-items: center;
}

.wh-li-div-span-div i,
.wh-li-a-div-div i{
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-right: 5px;
}

.wh-li:hover > .wh-li-div .wh-li-div-span div i,
.wh-li:hover > .wh-li-a .wh-li-a-div div i{
    color: rgb(9, 151, 118);
}