.samehere,
.samehered{
    border: none;
    background-color: transparent;
    margin: 0 25px 0 10px;
    padding: 3px 10px;
}

.samehere:focus,
.samehered:focus{
    outline:none;
}

.samehere:hover,
.problem-what:hover,
.samehered{
    border-radius: 5px;
    background-color: rgb(198 , 241, 231);
    transition: all 0.15s;
}

.sh-cnt{
    font-weight: 600;
}

.sh-emoji{
    margin: 0 5px 0 10px;
}

.sh-txt{
    font-size: 16px;
    color: rgb(150,150,150);
}