.signup-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.names-div{
    display: flex;
    flex-direction: row;
}

.signup-main .user-input,
.signup-main .combo-box{
    margin-bottom: 0px;
    margin-top: 25px;
}

.names-input{
    width: 180px !important;
    margin: 10px 5px 0 5px !important;
}

.signup-main .submit-btn{
    outline: none !important;
    height: 40px;
    width: 250px;
    border: none;
    border-radius: 7px;
    background-color: rgb(198 , 241, 231);
    color: rgb(100,100,100);
    font-weight: 600;
    transition: all .15s;
}

.signup-main .submit-btn{
    margin: 20px 0;
}

.signup-main .submit-btn:hover{
    background-color: rgb(126, 218, 196);
    color: rgb(30,30,30);
}