.user-input .helper-txt{
    display: none;
}

.user-input.error .helper-txt{
    position: absolute;
    display: flex !important;
    top: 36px;
    color: #e70000;
    float: left;
    font-size: 12px;
    letter-spacing: 1px;
    z-index: 1;
}

.user-input input{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.user-input.error input{
    border-color: #e70000 !important;
}

.user-input input:focus{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}