.write-report-main{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    padding: 5px 10px 10px 10px;
    width: 570px;
    background-color: rgb(255,255,255);
    border: 1px solid rgb(150, 150, 150);
    border-radius: 10px;
}

.wr-textarea{
    resize: none;
    outline: none;
    display: flex;
    border: none;
    font-size: 18px;
}

.wr-ln-1{
    display: flex;
    flex-direction: column;
}

.wr-ln-1 .show-error{
    height: 1.5em;
    color: #e70000;
    float: left;
    font-size: 13px;
    letter-spacing: 1px;
    transition: color .15s ease-in-out, height .15s ease-in-out;
}

.wr-ln-1 .hide-error{
    display: none;
    height: 0em;
}

.wr-ln-2{
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wr-list-div{
    display: flex;
    flex-direction: row;
}

.wr-list-div .combo-box{
    margin-top: 10px;
    margin-bottom: 4px;
}

.wr-list-div .combo-box-lists{
    width: 200px;
}

.wr-list-div .combo-industry{
    margin-right: 10px;
}

.wr-list-div .dropdown-item{
    padding: 0.25rem 5px;
}

.btn-report{
    position: relative;
    outline: none !important;
    height: 38px;
    width: 85px;
    border: none;
    margin-top: 10px;
    border-radius: 12px;
    background-color: rgb(198 , 241, 231);
    color: rgb(100,100,100);
    font-weight: 600;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.btn-report:hover{
    background-color: rgb(126, 218, 196);
    color: rgb(30,30,30);
}