.sec-PE{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    border-bottom: 1px solid rgba(180, 180, 180,0.4);
    background-color: #f5f8fa;
    letter-spacing: 0.015em;
}

.sec-PE .header,
.sec-PE .subheader{
    width: 100%;
    text-align: center;
    color: #3f4257;
}

.sec-PE .header{
    font-weight: 600;
    font-size: 22px;
}

.sec-PE .subheader{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 15px;
    color: rgb(101, 119, 134);
}

.sec-PE .subheader a{
    transition: all 0.15s ease-in-out;
}

.sec-PE .subheader a:hover{
    border: none;
    outline: none;
    text-decoration: none;
    color: inherit;
}

.sec-PE .div-body{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sec-PE .ul-icon{
    list-style: none;
    width: 50%;
    margin: 0;
    padding: 0 10px;
}

.ul-icon .li-body{
    text-align: center;
    height: 70px;
    padding: 10px 10px;
    font-size: 17px;
    background-color: #edf4f9;
    color: rgba(50, 50, 50,1);
    border-radius: 8px;
}

.ul-icon .icon.happy{
    height: 30px;
    padding-top: 8px;
}

.ul-icon .txt{
    text-align: center;
    text-transform: capitalize;
    font-size: 10px;
    color: rgb(101, 119, 134);
}


/* Page Resize */
@media (max-width: 1199px){
 
  }
  
  @media (max-width: 999px){
    /* PE - Post Explaination */
    .sec-PE{
      height: 90px;
    }
    .sec-PE .div-body{
      display: none;
    }
  
  }
  
  @media (max-width: 680px){
  /* PE - Post Explaination */
    .sec-PE{
      height: 80px;
    }
    .sec-PE .header{
      font-size: 19px;
    }
    .sec-PE .subheader{
      font-size: 16px;
      margin-bottom: 6px;
      margin-top: 3px;
    }
  
  }