.sec-wp{
  padding-bottom: 40px;
  /* background-color: #e3e8ea; */
  background-color: #f5f8fa;
}

.sec-PE{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    letter-spacing: 0.015em;
}

.sec-PE .header,
.sec-PE .subheader{
    width: 100%;
    text-align: center;
    color: #3f4257;
}

.sec-PE .header{
    font-weight: 600;
    font-size: 22px;
}

.sec-PE .subheader{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 15px;
    color: rgb(101, 119, 134);
}

.sec-PE .subheader span{
  width: 60px;
  color: #007bff;
  transition: all 0.15s ease-in-out;
}

.sec-PE .subheader span:hover,
.post-message span:hover{
  cursor: pointer;
  color: inherit;
}

.sec-PE .subheader a,
.post-message a{
    transition: all 0.15s ease-in-out;
}

.sec-PE .div-body{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sec-PE .ul-icon{
    list-style: none;
    width: 50%;
    margin: 0;
    padding: 0 10px;
}

.ul-icon .li-body{
    text-align: center;
    height: 70px;
    padding: 10px 10px;
    font-size: 17px;
    background-color: #edf4f9;
    color: rgba(50, 50, 50,1);
    border-radius: 8px;
}

.ul-icon .icon.happy{
    height: 30px;
    padding-top: 8px;
}

.ul-icon .txt{
    text-align: center;
    text-transform: capitalize;
    font-size: 10px;
    color: rgb(101, 119, 134);
}

/* Write a post */
.write-report-main{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px auto 0 auto;
  padding: 5px 10px 10px 10px;
  width: 570px;
  background-color: rgb(255,255,255);
  border: 1px solid rgba(180, 180, 180,0.4);
  border-radius: 10px;
  transition: all 0.15s ease-in-out;
}

.write-report-main .combo-box-lists input{
  border-color:  rgba(180, 180, 180,0.4);
  transition: all 0.15s ease-in-out;
}

.write-report-main:focus-within {
  color: #495057;
  background-color: #fff;
  border-color: #3f4257b7;
  border-color: rgb(230, 236, 240);
  outline: 0;
  box-shadow: 0 5px 10px 0 rgba(34,36,38,.15);
}

.write-report-main:focus-within .combo-box-lists input{
  border-color: rgb(230, 236, 240);
}

.wr-textarea{
  resize: none;
  outline: none;
  display: flex;
  border: none;
  box-sizing: border-box;
  resize: none;
  height: 100%;
  width: 99%;
  margin-left: 0.5%;
  margin-top: 4px;
  padding: 8px 15px;
  background-color: rgba(0,0,0,0.03);
  border-radius: 10px;
  font-size: 18px;
  transition: all 0.15s ease-in-out;
}

.wr-ln-1{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: all .15s ease-in-out;
}

.wr-ln-1 .char-count{
  position: absolute;
  right: 2px;
  bottom: 2px;
  transition: all .15s ease-in-out;
}

.wr-ln-1 .char-count{
  position: absolute;
  right: 2px;
  bottom: 2px;
  width: 22px;
  height: 22px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  padding-top: 2px;
  border-radius: 50%;
  color: white;
  transition: all .15s ease-in-out;
}

.wr-ln-1 .cc-99{
  background-color: #15c39a;
}

.wr-ln-1 .cc-19{
  background-color: #e81f6acf;
}

.wr-ln-1 .show-error{
  height: 1.5em;
  padding-left: 10px;
  color: #e70000;
  float: left;
  font-size: 13px;
  letter-spacing: 1px;
  transition: color .15s ease-in-out, height .15s ease-in-out;
}

.wr-ln-1 .hide-error{
  display: none;
  height: 0em;
}

.wr-ln-2{
  width: 99%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wr-list-div{
  display: flex;
  flex-direction: row;
}

.wr-list-div .combo-box{
  margin-top: 10px;
  margin-bottom: 4px;
}

.wr-ln-2 .combo-box-lists{
  width: 200px;
}

.wr-list-div .combo-industry{
  margin-right: 10px;
}

.wr-list-div .dropdown-item{
  padding: 0.25rem 5px;
}

.btn-report{
  border: none;
  outline: none !important;
  position: relative;
  height: 38px;
  width: 85px;
  margin-top: 8px;
  background-color: rgb(198 , 241, 231);
  color: rgb(100,100,100);
  font-size: 16px;
  font-weight: 600;
  border-radius: 12px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.btn-report:hover,
.btn-report:disabled{
  background-color: rgb(126, 218, 196);
  color: rgb(30,30,30);
}

.post-message{
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: 20px auto 00px auto;
  background-color: rgb(198 , 241, 231);
  color: rgba(50, 50, 50,1);
  font-size: 17px;
  letter-spacing: 0.01em;
  text-align: center;
  padding: 10px 15px;
  border-radius: 8px;
  overflow: hidden;
  animation: expandBox 0.35s;
  transition: all 0.15s ease-in-out;
}

.post-message div span{
  margin: 0px;
  color: #007bff;
  transition: all 0.15s ease-in-out;
}

.post-message div span:hover{
  color: inherit;
}

@keyframes expandBox {
  from { 
          height: 0;
          opacity: 0; 
      }
  to   { 
          height: 70px; 
          opacity: 1;
      }
}


/* Page Resize */
@media (max-width: 1199px){
 
  }
  
  @media (max-width: 999px){
    /* PE - Post Explaination */
    .sec-PE{
      height: 90px;
    }
    .sec-PE .div-body{
      display: none;
    }
  
  }
  
  @media (max-width: 680px){
  /* PE - Post Explaination */
    .sec-PE{
      height: 80px;
    }
    .sec-PE .header{
      font-size: 19px;
    }
    .sec-PE .subheader{
      font-size: 16px;
      margin-bottom: 6px;
      margin-top: 3px;
    }

  /* WR - Write Report */
    .write-report-main{
      width: 480px;
    }
    .wr-textarea{
      width: 460px;
    }


  /* Dropdown lists */
    .wr-list-div .combo-box-lists{
        width: 160px;
    } 
  
  }


  @media only screen and (max-device-width: 600px) {
    /* PE - Post Explaination */
    .sec-PE{
      height: 110px;
    }
    .sec-PE .header{
      width: 96%;
    }
    
    /* Write a report */
    .write-report-main{
        width: 96%;
        margin-top: 10px;
        border: 1px solid rgba(210, 210, 210,0.7);
    }
    .wr-textarea{
        width: 100%;
        margin-left: 0%;
        background-color: rgba(0,0,0,0.05);
    }
    .wr-ln-2{
        flex-direction: column;
        width: 100%;
    }
    .btn-report{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        transition: all 0.15s ease-in-out;
    }
    .btn-report.no-txt{
        height: 0px;
        overflow-x: hidden;
        padding: 0;
    }

    /* Dropdown lists */
    .wr-list-div{
      justify-content: space-around;
    }
    .wr-list-div .combo-box-lists,
    .combo-topic .Dropdown-control{
        width: 160px;
    }
    .wr-list-div .combo-industry{
      margin-right: 0px;
    }
  }