.problem-div{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    padding: 10px;
    width: 570px;
    background-color: rgb(255,255,255);
    border: 1px solid rgb(150, 150, 150);
    border-radius: 10px;
}

.problem-hdr{
    width: 100%;
}

.problem-hdr,
.user-short-info{
    display: flex;
    flex-direction: row;
    color: #212529;
}

.problem-hdr img,
.user-short-info img{
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

.problem-hdr ul,
.user-short-info ul{
    list-style: none;
    padding-left: 5px;
    margin-bottom: 5px;
    letter-spacing: 0.025em;
}

.problem-hdr .ul-loc-date{
    margin-left: auto;
    margin-right: 10px;
    color: rgb(150,150,150);
}

.ul-loc-date .li-loc{
    font-size: 14px;
    height: 1em;
}

.ul-loc-date .li-date{
    font-size: 12px;
    text-align: end;
}

.user-name-li{
    font-size: 14px;
    font-weight: 600;
    line-height: 1em;
}

.user-industry-li{
    font-size: 12px;
    color: rgb(150,150,150);
}

.problem-body {
    margin-bottom: 10px;
    padding: 5px 10px;
    letter-spacing: 0.015em;
}

.problem-footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.problem-what{
    padding: 3px 10px;
    text-transform: capitalize;
    font-weight: 600;
    outline: none;
    color: rgb(0,0,0);
}

.problem-what:hover,
.user-short-info:hover{
    border: none;
    outline: none;
    text-decoration: none;
    color: inherit;
}

.div-user-short{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    width: 100%;
    height: 60px;
    border: 1px solid grey;
    outline: none;
}

.div-user-short img{
    width: 40px;
    height: 40px;
}

.div-user-short .li{
    list-style: none;
}

.div-pending{
    outline: none;
    padding: 4px 12px;
    background-color: rgb(255, 255, 255);
    text-transform: capitalize;
    font-weight: 600;
    font-size: 15px;
    color: rgba(255, 82, 146, 0.6);
    border: 1px solid rgba(255, 82, 146, 0.6);
    border-radius: 15px;
    z-index: 2;
}

.problem-div .div-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(63, 66, 87, 0.1);
    border-radius: 10px;
    z-index: 1;
}

.div-no-posts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(101, 119, 134);
}