.problem-div{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    padding: 10px;
    width: 570px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 10px;
}

.problem-hdr{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.problem-hdr img{
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

.problem-hdr ul{
    list-style: none;
    padding-left: 5px;
    margin-bottom: 5px;
    letter-spacing: 0.025em;
}

.user-name-li{
    font-size: 14px;
    font-weight: 600;
    line-height: 1em;
}

.user-industry-li{
    font-size: 12px;
    color: rgb(150,150,150);
}

.problem-body {
    margin-bottom: 10px;
    padding: 0 10px;
    letter-spacing: 0.015em;
}

.problem-footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.samehere{
    border: none;
    background-color: transparent;
    margin: 0 25px 0 10px;
}

.samehere:focus{
    outline:none;
}

.samehere:hover{
    border-radius: 5px;
    background-color: rgb(198 , 241, 231);
    transition: background-color 0.2s;
}

.sh-cnt{
    font-weight: 600;
}

.sh-emoji{
    margin: 0 5px 0 10px;
}

.sh-txt{
    font-size: 16px;
    color: rgb(150,150,150);
}

.problem-what{
    margin-right: 10px;
    text-transform: capitalize;
    font-weight: 600;
}