.comp-header{
    position: relative;
    display: flex;
    height: 40px;
}

.comp-header text{
    position: relative;
    margin: auto;
    padding: 7px;
    background-color: white;
    font-size: 22px;
    font-weight: 700;
    z-index: 1;
}

.comp-header div{
    width: 94%;
    height: 1px;
    margin-top: 19px;
    margin-left: 3%;
    position: absolute;
    background-color: rgb(198, 241, 231);
    z-index: 0;
}