body {
  width: 100% !important;
  margin: 0 !important;
  background-color: #e8e8e8 !important;
  font-family: 'Muli', sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}