body {
  width: 100% !important;
  margin: 0 !important;
  background-color: #e8e8e8 !important;
  font-family: 'Muli', sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.body-div {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 900px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(216, 216, 216);
}

@media screen and (max-width: 900px) {
  .body-div {
    flex-direction: row;
    width: 100%;
  }

  body {
    width: 100%;
  }
}

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font: 14px Helvetica, Arial, sans-serif;
  margin-top: 70px;
  height: 150px;
  background-color: rgb(198, 241, 231);
}

#footer h3 {
  color: #5a5555;
}

#footer a {
  text-decoration: none !important;
  font-size: 18px;
  color: #5a5555;
  margin-left: 3px;
}

#footer .email-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
  color: #5a5555;
}

#footer button {
  width: 60px;
  font-size: 13px;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  letter-spacing: .03em;
  color: #fff;
  background-color: #aaa;
  box-sizing: border-box;
  height: 32px;
  line-height: 32px;
  padding: 0 18px;
  display: inline-block;
  margin: 0 4px;
  transition: all 0.23s ease-in-out 0s;
}

#footer button:hover {
  cursor: pointer;
  background-color: #5a5555;
}

#footer button:focus {
  outline: 0;
}

#mc_embed_signup .button {
  border-radius: 0 3px 3px 0 !important;
}

#mc_embed_signup input.email {
  border-radius: 3px 0 0 3px !important;
}

@media screen and (max-width: 900px) and (min-width: 750px) {
  .body-div{
      width: 100%;
  }
}

@media screen and (max-width: 749px) {
  .body-div{
    width: 100%;
  }

  .entrepreneur-comp .comp-body {
    flex-direction: column;  
  }

  .KS-div{
    flex-direction: column-reverse !important;
  }
  
  .entrepreneur-comp .comp-body img{
    max-width: 275px;
    height: auto;
    margin: auto;
  }

  .PeoplesChallage-comp .hacker-news{
    display: none;
  }

  #footer {
    height: 190px;
  }

  #footer h3{
    text-align: center;
  }

  #footer button{
    width: 80px;
    font-size: 16px;
  }

}