.OurSolution-comp{
    margin-top: 40px;
}

.OurSolution-comp h1{
    margin: 40px 3% 0 3%;
    padding: 1% 2%;
    text-align: center;
    font-style: italic;
    font-weight: 700;
    background-color: rgb(198, 241, 231);
}

.OurSolution-comp p{
    width: 80%;
    margin: 30px 0 0 10%;
    text-align: center;
    font-size: 22px;
}

.OurSolution-comp h2{
    margin: 30px 3% 0 3%;
    text-align: center;
}

.solution-arrows{
    display: flex;
    margin: 20px auto;
}

.OurSolution-comp .benefits{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.vant-garde h3, .inventor h3{
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
}

.vant-garde{
    margin-left: 3%;
}

.inventor{
    margin-right: 3%;
}

.OurSolution-comp .or-div{
    margin: 0 40px;
    font-size: 22px;
    font-weight: bold;
}

.OurSolution-comp .benefits li{
    font-size: 20px;
    margin-bottom: 2px;
}

.benefits ul {
    list-style: none;
  }
  
  .benefits ul li:before {
    content: '✓';
    color: rgb(0, 176, 80);
    font-size: 26px;
    font-weight: bold;
    padding-right: 6px;
  }