.OurSolution-comp{
    margin-top: 40px;
}

.OurSolution-comp h1{
    margin: 40px 3% 0 3%;
    padding: 1% 2%;
    text-align: center;
    font-style: italic;
    font-weight: 700;
    background-color: rgb(198, 241, 231);
}

.OurSolution-comp p{
    width: 80%;
    margin: 30px 0 0 10%;
    text-align: center;
    font-size: 24px;
}

.OurSolution-comp h2{
    margin: 50px 3% 0 3%;
    text-align: center;
    font-size: 24px;
}

.solution-arrows{
    display: flex;
    margin: 20px auto;
}

.OurSolution-comp .benefits{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vant-garde{
    display: flex;
    flex-direction: row;
}

.avant-garde h3, .inventor h3{
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

.vant-garde div{
    margin-left: 3%;
}

.inventor{
    margin-right: 3%;
    padding-bottom: 20px;
}

.OurSolution-comp .or-div{
    margin: 0 40px;
    font-size: 22px;
    font-weight: bold;
}

.avant-garde li, .inventor li{
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-bottom: 10px;
}


.avant-garde, .inventor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avant-garde ul , .inventor ul{
    list-style: none;
    padding-left: 0px;
    width: 74%;
  }
  
  .avant-garde ul i , .inventor ul i{
      font-size: 40px;
      margin-right: 10px;
  }

  @media screen and (max-width: 749px) {
    .avant-garde h3, .inventor h3{
        margin-bottom: 18px;
    }

    .avant-garde li, .inventor li{
        margin-bottom: 15px;
    }
}