.PeoplesChallage-comp{
    width: 100%;
    margin-top: 30px;
}

.PeoplesChallage-comp .quora{
    display: flex;
    justify-content: flex-start;
    padding: 3% 3% 0 3%;
}

.PeoplesChallage-comp .hacker-news{
    display: flex;
    justify-content: center;
    padding: 3% 3% 0 3%;
}

.PeoplesChallage-comp .medium{
    display: flex;
    justify-content: flex-end;
    padding: 3% 3% 0 3%;
}

.PeoplesChallage-comp .reddit{
    display: flex;
    justify-content: flex-start;
    padding: 3% 3% 0 3%;
}

@media screen and (max-width: 749px) {
    .PeoplesChallage-comp .hacker-news{
      display: none;
    }
    .invento{
        margin-right: 0 !important;
    }
    .avant-garde ul, .inventor ul{
        width: 96% !important;
    }
}

@media screen and (max-width: 450px) {
    .PeoplesChallage-comp img{
      width: 100% !important;
      height: auto !important;
    }
}